<form class="profile-search-form" [formGroup]="searchForm">
  <label class="form-label">
    <span class="form-label__text">Имя</span>
    <input type="text" class="form-input" formControlName="firstName" />
  </label>

  <label class="form-label">
    <span class="form-label__text">Фамилия</span>
    <input type="text" class="form-input" formControlName="lastName" />
  </label>

  <label class="form-label">
    <span class="form-label__text">Навыки</span>
    <input type="text" class="form-input" formControlName="stack" />
  </label>
</form>
